<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>

        <h1>Meine Kurse</h1>
    </div>
    <ul class="list-unstyled">
        <div sec:authorize="hasRole('STUDENT')">
            <form th:action="@{/courses/filter}" method="get" class="form-inline">
                <label for="status">Filter:</label>

                <select type="text" name="filter" th:value="${filter}" id="status">
                    <option value="STARTED_STATUS">Gestartet</option>
                    <option value="ENDED_STATUS">Beendet</option>
                    <option value="POSTED_STATUS">Freigegeben</option>
                </select>
                <button type="submit" class="btn btn-primary">Anwenden</button>
            </form>
        </div>
        <table>
            <tr>
                <th>Kursname</th>
                <th>Status</th>
            </tr>
            <tr th:each="course : ${course}">
                <td th:each="entry : ${course.entries}" th:if="${entry.isParticipant(user)} and ${!course.statusDraft}"><a th:text="${entry.courseName}" th:href="${'/courses/' + course.id}"></a></td>
                <td th:each="entry : ${course.entries}" th:if="${course.ownedByCurrentUser} and ${!course.statusDraft}"><a th:href="${'/courses/' + course.id}" th:text="${course.name}"></a></td>
                <td th:each="entry : ${course.entries}" th:text="${course.status}" th:if="${entry.isParticipant(user)} and ${!course.statusDraft}"></td>
                <td th:each="entry : ${course.entries}" th:text="${course.status}" th:if="${course.ownedByCurrentUser} and ${!course.statusDraft}"></td>
            </tr>
        </table>
    </ul>
    <hr />
    <p class="small">
        <a href="/courses/">Index</a>
    </p>
</div>
</body>
</html>