<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>

        <h1>Meine Kurse</h1>
    </div>
    <ul class="list-unstyled">
        <table>
            <tr>
                <th>Kursname</th>
                <th>Status</th>
            </tr>
            <tr th:each="course : ${course}">
                <td th:each="entry : ${course.entries}" th:if="${entry.isParticipant(user)} and ${!course.statusDraft}"><a th:text="${entry.courseName}" th:href="${'/courses/' + course.id}"></a></td>
                <td th:each="entry : ${course.entries}" th:if="${course.ownedByCurrentUser} and ${!course.statusDraft}"><a th:href="${'/courses/' + course.id}" th:text="${course.name}"></a></td>
                <td th:each="entry : ${course.entries}" th:text="${course.status}" th:if="${entry.isParticipant(user)} and ${!course.statusDraft}"></td>
                <td th:each="entry : ${course.entries}" th:text="${course.status}" th:if="${course.ownedByCurrentUser} and ${!course.statusDraft}"></td>
            </tr>
        </table>
    </ul>
    <hr />
    <p class="small">
        <a href="/courses/">Index</a>
    </p>
</div>
</body>
</html>