<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>

        <h1>Meine beendeten Kurse</h1>
    </div>

    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>Beschreibung</th>
            <th>Teilnehmerzahl</th>
            <th>Status</th>
        </tr>
        <tr th:each="course : ${course}" th:if="${course.ownedByCurrentUser} and ${course.statusEnded}">
            <td><a th:href="${'/courses/' + course.id}" th:text="${course.name}"></a></td>
            <td th:each="entry : ${course.entries}" th:text="${entry.courseDescription}"></td>
            <td th:each="entry : ${course.entries}" th:text="${entry.participants.size()}"></td>
            <td th:text="${course.status}"></td>
        </tr>
    </table>
    <hr />
    <p class="small">
        <a href="/courses/">Index</a>
    </p>
</div>
</body>
</html>