<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>
        <h1 th:text="${'Kurs ' + entry.courseName}"></h1>
    </div>

    <table th:if="${assessment != null}" class="table">
        <tr>
            <th>Kurs</th>
            <th>Name</th>
            <th>Bewertung</th>
        </tr>
        <tr th:each="entryAssessment: ${assessment}">
            <td th:text="${entryAssessment.courseEntry.courseName}"></td>
            <td th:text="${entryAssessment.user.name}"></td>
            <td th:text="${entryAssessment.assessment}"></td>
            <form method="post" class="form-inline" th:action="${'/courseAssessment/' + entryAssessment.courseEntry.id + '/' + entryAssessment.user.id}">
                <td><input name="assessment" type="text" placeholder="Bewertung" class="form-control mr-2"></td>
                <td><button type="submit" class="btn btn-primary">Eintragen</button></td>
            </form>
        </tr>
    </table>
    <hr />
    <p class="small">
        <a href="/courses/">Index</a>
    </p>
</div>
</body>
</html>