<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
  <div class="my-4">
    <h1 th:text="${'Kurse ' + course.name}"></h1>
  </div>

  <table th:if="${journal != null and !course.entries.empty}" class="table">
    <tr>
      <th>ausgegeben von</th>
      <th>Betrag</th>
      <th>ausgegeben für</th>
    </tr>
    <tr th:each="entry : ${course.entries}">
      <td th:text="${entry.title}"></td>
    </tr>
  </table>
  </div>


  <hr/>
  <p class="small">
    <a href="/courses/">Index</a>
  </p>

</div>
</body>
</html>
