<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>
        <h1 th:text="${'Kurs ' + course.name}"></h1>
        <form method="post" class="form" th:action="${'/courses/' + course.id + '/delete'}" th:if="${course.ownedByCurrentUser}">
            <button type="submit" class="btn btn-danger">Löschen</button>
        </form>
    </div>

    <table th:if="${course != null and !course.entries.empty}" class="table">
        <tr>
            <th>Kursname</th>
            <th>Beschreibung</th>
            <th>Dozent</th>
            <th>Max. Teilnehmerzahl</th>
            <th>Raum Nummer</th>
        </tr>
        <tr th:each="entry : ${course.entries}">
            <td th:text="${entry.courseName}"></td>
            <td th:text="${entry.courseDescription}"></td>
            <td th:text="${entry.lecturer}"></td>
            <td th:text="${entry.maxParticipants}"></td>
            <td th:text="${entry.roomNumber}"></td>
        </tr>
    </table>

    <form method="post" class="form-inline" th:action="${'/courses/' + course.id}" th:if="${course.ownedByCurrentUser}">
        <input name="courseName" type="text" placeholder="Name" class="form-control mr-2">
        <input name="courseDescription" type="text" placeholder="Beschreibung" class="form-control mr-2">
        <input name="maxParticipants" type="number" placeholder="Max. Teilnehmerzahl" class="form-control mr-2">
        <input name="roomNumber" type="text" placeholder="Raum Nummer" class="form-control mr-2">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <hr />
    <p class="small">
        <a href="/courses/">Index</a>
    </p>
</div>
</body>
</html>