<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <style>
    .password-verdict{
      color:#000;
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:utext="#{label.form.title}">Neuen Dozenten anmelden</title>
</head>
<body>
<div class="container">
  <div >
    <h1 th:utext="#{label.form.title}">Neuen Dozenten anmelden</h1>
    <br/>
    <form action="/" method="POST" enctype="utf8" >
      <div class="form-group row" >
        <label for="firstName" class="col-sm-3" th:utext="#{label.user.firstName}">Vorname</label>
        <span class="col-sm-5"><input id="firstName" class="form-control" name="firstName" value="" required="required"/></span>
        <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-3" th:utext="#{label.user.lastName}">Nachname</label>
        <span class="col-sm-5"><input id="lastName" class="form-control" name="lastName" value="" required="required"/></span>
        <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3" th:utext="#{label.user.email}">E-Mail</label>
        <span class="col-sm-5"><input id="email" type="email" class="form-control" name="email" value="" required="required"/></span>
        <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3" th:utext="#{label.user.password}">Passwort</label>
        <span class="col-sm-5"><input id="password" class="form-control" name="password" value="" type="password" required="required" autocomplete="new-password"/></span>
        <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
      </div>
      <div class="form-group row">
        <label for="matchPassword" class="col-sm-3" th:utext="#{label.user.confirmPass}">Passwort bestätigen</label>
        <span class="col-sm-5"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required" autocomplete="new-password"/></span>
        <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary" th:utext="#{label.form.submit}">Bestätigen</button>
    </form>
    <br/>
    <a th:href="@{/login}" th:utext="#{label.form.loginLink}">Einloggen</a>
  </div>
</div>
</body>
</html>