<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:utext="#{label.form.title}">Studierenden Anmeldung</title>
</head>
<body>
<div class="container">
    <div >
        <h1 th:utext="#{label.form.title}">form</h1>
        <br/>
        <form action="#" method="POST" th:action="@{/studentRegistration}" enctype="utf8" >
            <div class="form-group row" >
                <label class="col-sm-3">Vorname</label>
                <span class="col-sm-5"><input type="text" class="form-control" th:field="*{firstName}" required="required"/></span>
                <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row" >
                <label class="col-sm-3">Nachname</label>
                <span class="col-sm-5"><input type="text" class="form-control" th:field="*{lastName}" required="required"/></span>
                <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row" >
                <label class="col-sm-3">E-Mail</label>
                <span class="col-sm-5"><input type="email" class="form-control" th:field="*{email}" required="required"/></span>
                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row" >
                <label class="col-sm-3">Passwort</label>
                <span class="col-sm-5"><input type="password" th:field="*{password}" required="required"/></span>
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row" >
                <label class="col-sm-3">Passwort bestätigen</label>
                <span class="col-sm-5"><input type="password" th:field="*{matchingPassword}" required="required"/></span>
                <span id="matchingPasswordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" th:utext="#{label.form.submit}">Bestätigen</button>
        </form>
        <br/>
        <a th:href="@{/login}" th:utext="#{label.form.loginLink}">Einloggen</a>
    </div>
</div>
</body>
</html>