<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Herzlich Willkommen</title>
    <link th:href="@{/static/Style.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
</head>
<body>
    <div><h1>Herzlich Willkomen auf Ihrem Studienorganisationsportal</h1></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a th:href="@{~/templates/login.html}" th:text="#{label.form.loginLink}" >zum Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- TODO befüllen der Tabelle aufbauen -->

    <div class="CourseList">
        <table>
            <tr>
                <th> Liste aller verfügbaren Kurse </th>
            </tr>
            <tr>
                <td th:each="courseList: $(courseList)" >
                <a th:href="@{/courseList/{id}(id=${course.id})}" th:text="${course.name}"></a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>